<div id="<%= dom_id car %>">
  <p>
    <strong>Nome:</strong>
    <%= car.nome %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= car.ano %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= car.cor %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= car.desc %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= car.price %>
  </p>

  <p>
    <strong>Km:</strong>
    <%= car.km %>
  </p>

</div>
